//$border-color                 = #FFF8DC
//$brand-color                  = black
//$brand-hover-color            = black
$body-bg-color                = #FFFACD 
//$table-row-odd-bg-color         = #FFF8DC
//$table-row-hover-bg-color       = #FFF8DC
$whitesmoke   = green
$gainsboro    = #eee
$gray-lighter = #ddd
$grey-light   = red
$grey         = #bbb
$grey-dark    = blue
$grey-dim     = #666
$black-light  = #555
$black-dim    = #333
$black-deep   = #222 //#FFF8DC //#222 我把黑背景改了
$red          = #ff2a2a
$blue-bright  = #87daff
$blue         = #0684bd
$blue-deep    = #262a30
$orange       = #fc6423

$font-family-chinese  = "Noto Serif SC"
$font-family-headings = "Noto Serif SC"

// 修改成你期望的字体族
$font-family-base = "Noto Serif SC", serif

$font-family-monospace    = "Noto Serif SC"
$font-family-posts        = "Noto Serif SC"